/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: url('images/lgn-bg.jpg') center/cover no-repeat;
}
.login-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  width: 35px;
  height: 35px;
}

/* .container{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
} */

.container {
  position: absolute;
  top: 50%;
  left: 10%; /* Adjust the left position to 0 to align with the left side */
  right: 10%;
  transform: translate(0, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .container {
    position: center; /* Change to relative positioning */
    top: 20%; /* Reset the top value */
    left: 5%; /* Reset the left value */
    right: 5%;
    transform: none; /* Reset the transform */
    margin: 0 auto; /* Center the container horizontally using margin */
  }
}

.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

.register-button {
  background-color: #009579;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: background-color 0.4s; 
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
}

.register-button:hover {
  background-color: #006653; 
}

.otp-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.otp-button {
  margin-top: 10px;
  background-color: #009579;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.otp-button:hover {
  background-color: #006653;
}